<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>RentalSki</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main>
    <div class="pos-center">
        <div th:include="heading"> </div>

        <div id="author">
            <center><h1>Contact</h1></center>
            <div id="contact" >

                <center><h2>Our headquarter is located in Lublin.</h2>
                <h2><b>Contact:</b></h2>
                <h2>+48 321987456</h2>
                <h2>wypozyczalnia@mail.com</h2>
                <h2>Feel free to contact!</h2></center>
            </div>
        </div>

        <div th:include="footer"></div>
    </div>
</main>
</body>
</html>
