<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RentalSki</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css"/>
</head>
<body>
<main>
    <div class="pos-center">
        <nav id="heading">
            <ul>
                <li>
                    <a href=""><b>Helmets</b><span class="caret"></span></a>
                    <ul class="sub-menu">
                        <li><a href="helmetswithgoggles.html">With glasses</a>
                        </li>
                        <li><a href="helmetswithoutgoggles.html">Without glasses</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="goggles.html"><b>Goggles</b><span class="caret"></span></a>
                </li>
                <li>
                    <a href="wintersuit.html"><b>Winter suit</b><span class="caret"></span></a>
                </li>
                <li>
                    <a href="sticks.html"><b>Sticks</b><span class="caret"></span></a>
                </li>
                <li>
                    <a href="boots.html"><b>Boots</b><span class="caret"></span></a>
                </li>
                <li>
                    <a href="snowboard.html"><b>Snowboard</b><span class="caret"></span></a>
                </li>
                <li>
                    <a href="skis.html"><b>Skis</b><span class="caret"></span></a>
                </li>
            </ul>
        </nav>

        <div id="author">
            <center><h1>Contact</h1></center>
            <div id="contact" >

                <center><h2>Our headquarter is located in Lublin.</h2>
                <h2><b>Contact:</b></h2>
                <h2>+48 321987456</h2>
                <h2>wypozyczalnia@mail.com</h2>
                <h2>Feel free to contact!</h2></center>
            </div>
        </div>



        <div id="footer">
            <nav id="footer1">
                <ul>
                    <li>
                        <a href="contact.html"><b>Contact</b><span class="caret"></span></a>
                    </li>

                    <li>
                        <a href="faq.html"><b>FAQ</b><span class="caret"></span></a>
                    </li>

                    <li>
                        <a href="aboutapp.html"><b>About Us</b><span class="caret"></span> </a>
                    </li>
                    <li>
                        <a href="home.html"><b>Author</b><span class="caret"></span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</main>
</body>
</html>
