<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RentalSki</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css"/>
</head>
<body>
<main>
    <div class="logo">
        <div class="pos-center">
            <nav id="heading">
                <ul>
                    <li>
                        <a href=""><b>Helmets</b><span class="caret"></span></a>
                        <ul class="sub-menu">
                            <li><a href="helmetswithgoggles.html">With glasses</a>
                            </li>
                            <li><a href="helmetswithoutgoggles.html">Without glasses</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="goggles.html"><b>Googles</b><span class="caret"></span></a>
                    </li>
                    <li>
                        <a href="wintersuit.html"><b>Winter suit</b><span class="caret"></span></a>
                    </li>
                    <li>
                        <a href="sticks.html"><b>Sticks</b><span class="caret"></span></a>
                    </li>
                    <li>
                        <a href="boots.html"><b>Boots</b><span class="caret"></span></a>
                    </li>
                    <li>
                        <a href="snowboard.html"><b>Snowboard</b><span class="caret"></span></a>
                    </li>
                    <li>
                        <a href="skis.html"><b>Skis</b><span class="caret"></span></a>
                    </li>
                </ul>
            </nav>

            <div id="prtn">

                <div class = "gallery">
                    <a target="_blank" href="helmet1.png">
                    <img src="../static/photos/helmet1.png" alt="helmet1" width="600" height="400">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                </div>


                <div class = "gallery">
                    <a target="_blank" href="helmet2.png">
                    <img src="../static/photos/helmet2.png" alt="helmet2" width="600" height="400">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                </div>


                <div class = "gallery">
                    <a target="_blank" href="helmet3.png">
                    <img src="../static/photos/helmet3.png" alt="helmet3" width="600" height="400">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                </div>


                <div class = "gallery">
                    <a target="_blank" href="helmet4.png">
                    <img src="../static/photos/helmet4.png" alt="helmet4" width="600" height="400">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                </div>

            </div>





            <div id="footer">
                <nav id="footer1">
                    <ul>
                        <li>
                            <a href="contact.html"><b>Contact</b><span class="caret"></span></a>
                        </li>

                        <li>
                            <a href="faq.html"><b>FAQ</b><span class="caret"></span></a>
                        </li>

                        <li>
                            <a href="aboutus.html"><b>About Us</b><span class="caret"></span> </a>
                        </li>
                        <li>
                            <a href="author.html"><b>Author</b><span class="caret"></span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>
</body>
</html>