<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wypożyczalnia sprzętu zimowego</title>
    <link rel="stylesheet" href="style.css" type="text/css"/>
</head>
<body>
<main>
    <div class="logo">
        <div class="pos-center">
            <nav id="heading">
                <ul>
                    <li>
                        <a href=""><b>Helmets</b><span class="caret"></span></a>
                        <ul class="sub-menu">
                            <li><a href="helmetswithglasses.html">With glasses</a>
                            </li>
                            <li><a href="helmetswithoutglases.html>">Without glasses</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="googles.html"><b>Googles</b><span class="caret"></span></a>
                    </li>
                    <li>
                        <a href="wintersuit.html"><b>Winter suit</b><span class="caret"></span></a>
                    </li>
                    <li>
                        <a href="sticks.html"><b>Sticks</b><span class="caret"></span></a>
                    </li>
                    <li>
                        <a href="boots.html"><b>Boots</b><span class="caret"></span></a>
                    </li>
                    <li>
                        <a href="snowboard.html"><b>Snowboard</b><span class="caret"></span></a>
                    </li>
                    <li>
                        <a href="skis.html"><b>Skis</b><span class="caret"></span></a>
                    </li>
                </ul>
            </nav>




            <div id="footer">
                <nav id="footer1">
                    <ul>
                        <li>
                            <a href="contact.html"><b>Contact</b><span class="caret"></span></a>
                        </li>
                        <li>
                            <a href="help.html"><b>Help</b><span class="caret"></span></a>
                        </li>
                        <li>
                            <a href="faq.html"><b>FAQ</b><span class="caret"></span></a>
                        </li>
                        <li>
                            <a href="bookinginformation.html"><b>Booking Information</b><span class="caret"></span></a>
                        </li>
                        <li>
                            <a href="aboutus.html"><b>About Us</b><span class="caret"></span> </a>
                        </li>
                        <li>
                            <a href="author.html"><b>Author</b><span class="caret"></span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>
</body>
</html>