<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>RentalSki</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main>
    <div class="pos-center">
        <div th:include="heading"></div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th class="text-center">Photo</th>
                <th class="text-center">Brand</th>
                <th class="text-center">Date</th>
                <th class="text-center">Time Start</th>
                <th class="text-center">Time End</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservation : ${reservationList}">

                <td th:each="user : ${listUsers}" th:if="${#authentication.name} == ${user.email} and ${user.id} == ${reservation.userid}">
                    <span th:each="articles : ${listArticles}" th:if="${reservation.itemid} == ${articles.id}" >
                    <a target="_blank" th:href="@{'/photos/' + ${articles.photoname} + '.png'}">
                        <img th:src="@{'/photos/' + ${articles.photoname} + '.png'}" width="180px"
                             height="150px"> </a>
                    </span></td>

                <td th:each="user : ${listUsers}" th:if="${#authentication.name} == ${user.email} and ${user.id} == ${reservation.userid}">
                    <span th:each="articles : ${listArticles}" th:if="${reservation.itemid} == ${articles.id}" th:text="${articles.brand}"></span>
                    </td>

                <td th:each="user : ${listUsers}"
                    th:if="${#authentication.name} == ${user.email} and ${user.id} == ${reservation.userid}"
                    th:text="${reservation.date}">
                </td>

                <td th:each="user : ${listUsers}"
                    th:if="${#authentication.name} == ${user.email} and ${user.id} == ${reservation.userid}"
                    th:text="${reservation.starthour}">
                </td>
                <td th:each="user : ${listUsers}"
                    th:if="${#authentication.name} == ${user.email} and ${user.id} == ${reservation.userid}"
                    th:text="${reservation.endhour}">
                </td>
            </tr>
            </tbody>
        </table>

        <div th:include="footer"></div>
    </div>
</main>
</body>
</html>